body {
    text-align: center;
    font-family: Arial;
    color: gray;
    margin: 0;
}

.top-div {
    padding: 20px 20px 0;
    height: auto;
}

.contact-a {
    
}

.nav {
    float: right;
    text-decoration: none;
    color: gray;
}

.nav:hover {
    color: #ccc;
    text-decoration: underline;
}

.main-div {
    margin-top: 30vh;
}

#input {
    width: 50%;
}